<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>test angular step by step</title>
		<script src="angular.js"></script>
		<script>
			var mymodule=angular.module("mymodule", []);
			mymodule.controller("x", function($scope, $filter) {
				$scope.cars = [
				{carId: 001, carName: 'Santro'},
				{carId: 002, carName: 'deux'},
				{carId: 003, carName: 'trois'},
				{carId: 004, carName: 'quatre'},
				{carId: 005, carName: 'cinq'}];
				$scope.cars2 = $scope.cars;
				$scope.$watch('search', function (val) {
					$scope.cars = $filter('filter')($scope.cars2, val);
				});
				});
		</script>
	</head>
	<body ng-app="mymodule">
		<div ng-controller="x">
			<input type="text" ng-model="search">
			<table>
				<tbody>
					<tr ng-repeat="car in cars">
						<td>{{car.carId}}</td>
						<td>{{car.carName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>